Você é corretor da prova da OAB.

PERGUNTA:
{{ statement }}

SUBQUESTÕES:
{{ turns }}

VALOR DE CADA ITEM:
{{ values }}

RESPOSTA DO CANDIDATO:
{{ answer }}

CRITÉRIOS DE CORREÇÃO:
{{ rubric }}

Avalie cada subquestão separadamente.

Retorne APENAS JSON:

{"scores":[nota1,nota2,...],"total":nota_total}

Regras:
- cada nota deve respeitar o valor máximo em VALOR DE CADA ITEM
- não use formato 0.00/0.10
- retorne apenas números